.terms-container {
	width: 100%;
	max-width: 1740px;
	padding: 1em 8em;
	line-height: 4em;
	box-sizing: border-box;
}



@media only screen and (max-width: 900px) {
	.terms-container {
		padding: 1em 3em;
	}	
}

