.bet-option-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	/* flex-direction: column; */
	padding: 0em 1em;
	box-sizing: border-box;
	height: 100%;
	margin: 0em 0.25em;
	margin-bottom: 2em;
	cursor: pointer;
	background-color: #242424;
	text-overflow: "ellipsis";
	white-space: 'nowrap';
}

.bet-option-2-active {
	color: black;
	background-color: #ffff00; 
}

@media only screen and (max-width: 768px) {
	.bet-option-2 {
		flex-direction: column;
		gap: 0;
	}
}


.gc2-card-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 0;
}


.bet-table-2 {
	border-radius: 5px;
	background-color: #131313;
	padding: 1em;
	margin: 1em 0;
}

.gc2-card-body-container {
	padding: 1em 0;
}