
.bet-option {
	/* border: 0.5px solid #5b40f6; */
	background-color: #242424;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	/* flex-direction: column; */
	padding: 0.2em 1em;
	box-sizing: border-box;
	height: 100%;
	margin: 0 0.1em;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.bet-option {
		flex-direction: column;
		gap: 0;
	}
}


.bet-option:hover {
	background-color: #161616
}

.bet-option-disabled:hover {
	background-color: #242424 !important;
	cursor: auto;
}

.bet-option-locked {
	margin: 0 0.25em;
	border: 0.5px solid #a0a0a0 !important;
	background-color: transparent !important;
	font-weight: normal !important;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.2em 1em;
	box-sizing: border-box;
	height: 100%
}



.bet-option-active {
	background-color: #5b40f6;
	font-weight: bold ;
}

.bet-option-active:hover {
	background-color: #5b40f6
}

.bet-team-name {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 1em 0;
}

.bet-table {
	background-color: #131313;
	border-radius: 5px;
	/* padding-top: 1em; */
	padding: 0em 1em;
	padding-bottom: 1em;
	margin: 1em 0;
}