@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;700&display=swap');

#root {
	width: 100%;
	display: flex;
	justify-content: center;
	/* background-color: #0a0a0a; */
}

.container {
	width: 100%;
	max-width: 1700px;
	padding: 1em 3em;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.navbar {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1em;
	/* border-bottom: 1px solid #222; */
}

.nav-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-right {
	display: flex;
}

.nav-link {
	margin: 0 2em;
}

.nav-link-profile {
	margin: 0;
}

.nav-auth-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 6em;
	border-radius: 10px;
	min-height: 1em;
	padding: 0.5em 2em;
	margin: 0 0.5em;
}

.login-btn {
	background-color: #5b40f6;
}

.signup-btn {
	background-color: #138001;
}

.login-btn:hover {
	background-color: #1380ff;
}

.link-reset {
	text-decoration: none;
	color: white;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* overflow: hidden; */
}

.full-logo {
	display: flex;
}

.word-logo {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-right: 2em;
	margin-left: 0;
	/* color: yellow  */
}

.sidebar {
	display: flex;
	flex-direction: column;
	position: sticky;
	height: 100%;
}

.sidebar-link {
	display: flex;
	padding: 0.8em 1em;
	/* margin: 0.5em 1em 0.1em 0; */
	margin-right: 1em;
	border-radius: 10px;
}

.sidebar-link:hover {
	background-color: #222;
}

.sidebar-link-active {
	background-color: #5b40f6;
}

.all-sport-header-container {
	overflow: hidden;
}

.mobile-nav-links {
	display: flex;
	min-width: 100%;
	max-width: 100%;
	justify-content: space-between;
	overflow: scroll;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

.mobile-nav-links::-webkit-scrollbar {
	display: none;
}

.sport-link-container-mobile {
	margin: 0 1em 0 0;
	background-color: #5b40f6;
	padding: 0.25em 1em;
	border-radius: 10px;
	display: none;
}

.active-mobile-link {
	background-color: #fff;
}

.mobile-main {
	display: none;
}

.desktop-main {
	width: 100%;
}

@media only screen and (max-width: 790px) {
	.container {
		padding: 1em 2em;
	}

	.nav-link {
		margin: 0 1em;
	}

	.nav-link-left {
		display: none;
	}

	.desktop-main {
		display: none;
	}

	.mobile-main {
		display: flex;
	}

	.sport-link-container-mobile {
		display: flex;
	}

	.nav-auth-btn {
		padding: 0.5em 0;
	}

	.sidebar {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.login-btn {
		display: none;
	}
}

.games-header {
	min-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	/* margin-bottom: 2em; */

	/* padding: 0.5em 0; */
}

.grid-games-header {
	/* background-color: #1d1e1f; */
}

.games-header-name {
	width: 100%;
	display: flex;
	align-items: center;
	/* padding: 0.5em 1em; */
}

.games-header-stats {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.main-header {
	padding: 0.5em 1em;
	/* border-top: 0.5px solid #444; */
	border-bottom: 0.5px solid #444;
	display: flex;
	align-items: center;
}

.header-stat {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.market-picker {
	min-width: 100%;
	max-width: 0;
	overflow: scroll;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0;
	margin: 1em 0;
	border-bottom: 1px solid #444;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

.market-picker::-webkit-scrollbar {
	display: none;
}

.market-option {
	border-radius: 10px;
	padding: 0.25em 1em;
	margin: 0 1em;
}
.market-option-text {
	color: #ddd;
	white-space: nowrap;
	font-size: 16px;
	font-weight: bold;
}

.market-option-text-active {
	color: #5b40f6;
}

.bets-main {
	max-width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

.bets-container {
	max-width: 100%;
	height: 100%;
}

.bets-header {
	max-width: 100%;
}

.main-game-props {
	width: 100%;
	margin: 1em 0;
	border-radius: 10px;
}

.submarkets {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.submarket-accordion {
	margin: 0.8em 0;
	/* padding: 0 1em; */
	background-color: #1b1b1b;
}

.team-logo {
	width: 30px;
}

.bets-outcome-option {
	width: 100%;
	display: flex;
	padding: 0.5em 1em;
	justify-content: space-between;
	align-items: center;

	border: 0.5px solid #444;
	cursor: pointer;
}

.bets-outcome-option:hover {
	background-color: #222;
}

.bets-outcome-option-active {
	background-color: #5b40f6;
}

.bets-outcome-option-active:hover {
	background-color: #5b40f6;
}

.hero-email-list {
	width: 100%
}

.hero-email-input {
	width: 100%;
	height: 3em;
}

.hero-email-submit {
	height: inherit;
	width: 100%;
	margin-top: 1em;
	height: 3em;
	font-weight: bold;
	font-size: 18px;
	background-color: #ffff00;
	border: none;
	border-radius: 5px;
	color: black;
}

.hero-email-submit:hover {
	background-color: rgb(163, 178, 0)
}
