.all-sports-item-container {
	/* border: 1px solid white; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	padding: 1em
}

.all-sports-league-selector {
	width: 100%;
	background-color: #1a1a1a;
	padding: 1em ;
	margin: 1em 0;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

